[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-extensions = "*"
pyparsing = "*"
djangorestframework = "*"
markdown = "*"
djangorestframework-simplejwt = "*"
drf-yasg = "*"
flex = "*"
django-cors-headers = "*"
gunicorn = "*"
psycopg2-binary = "*"
whitenoise = "*"
dj-database-url = "*"
graphviz = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
